<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>This is me!</h1>
    <ul class="list-group">
        <li class="list-group-item" v-for="(value,key,index) in details">
            {{ index }}.{{ key }}={{ value }}
        </li>
    </ul>
    <pre>
        {{ $data }}
    </pre>
</div>

</body>
<script src="../js/vue.js"></script>
<script>
    new Vue({
        el:'.container',
        data:{
            details:{
                name:'Subha Bera',
                weight:'95kg',
                height:'5ft 10inch',
                eyecolor:'brown',
                favorite_food:'mutton',
            }
        },

    })
</script>
</html>