<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Battle</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container text-center">
    <h1>Log:</h1>
    <ul class="list-group">
        <li class="list-group-item" v-for="vote in votes.log">{{ vote }}</li>
    </ul>
    <p style="font-size: 140px">
        {{ votes.count }}
    </p>
    <button class="btn btn-danger" @click="reset">Reset votes</button>
    <hr>

    <div class="row">
        <food  name="Cheeseburger"></food>
        <food  name="Double Bacon Burger"></food>
        <food  name="Rodeo Burger"></food>
    </div>
    <div class="row">
        <button class="btn btn-lg btn-danger" @click="stop">STOP VOTING!</button>
    </div>
    <pre>
        {{ $data }}
    </pre>

</div>

</body>


<template id="food">
    <div class="text-center col-lg-4">
        <p style="font-size: 40px">
            {{ votes }}
        </p>
    <button class="btn btn-primary" @click="vote">{{ name }}</button>
    </div>
</template>

<script src="../js/vue.js"></script>
<script>
    var bus = new Vue()

    Vue.component('food',{
        template:'#food',
        props:['name'],
        data:function () {
            return {
                votes:0
            }
        },
        methods:{
            vote:function (event) {
                this.votes++;
                bus.$emit(
                        'voted',
                        event.srcElement.textContent)
            },
            reset:function () {
                this.votes=0
            }
        },
        created(){
            bus.$on('reset',this.reset)
        }
    });
    new Vue({
        el:'.container',
        data:{
            votes:{
                count:0,
                log:[]
            }
        },
        methods:
        {
            countVote:function (food) {
                this.votes.count++
                this.votes.log.push(food+' recieved a vote.')
            },
            reset: function () {
                this.votes={
                    count:0,
                    log:[]
                }
                bus.$emit('reset')
            },
            stop:function () {
                bus.$off(['voted'])
            }
        },
        created(){
            bus.$on('voted',this.countVote)
        }
    })
</script>
</html>