<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Toggle class</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="text-center" v-bind:class="[ color ? 'body-red' : 'body-blue']">
<button @click="flipColor" class="btn btn-sm btn-danger">
    Flip color!
</button>


<div class="container">

    <pre>
        {{ $data|json }}
    </pre>
</div>

</body>
<script src="../js/vue.min.js"></script>
<script>
    new Vue({
        el:'body',
        data:{
            color:true
        },
        methods:{
            flipColor: function () {
                this.color=!this.color;
            }
        }

    })
</script>
<style type="text/css">
    .body-red{
        background-color: red;
    }
    .body-blue{
        background-color: blue;
    }
</style>
</html>