<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>People of Gaul</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h3>Team List</h3>
    <ul class="list-group">
        <li class="list-group-item" v-for="(person,index) in sortedPersons">
                {{ index+1 }}.{{ person.name }} is {{ person.age }} years old.
        </li>
    </ul>
    <button class="btn btn-sm btn-success" @click="changeOrder">Reverse Order</button>
    <h3>Team List:old</h3>
    <ul class="list-group">
        <li class="list-group-item" v-for="(person,index) in old">
                {{ index+1 }}.{{ person.name }} is {{ person.age }} years old.
        </li>
    </ul>
    <pre>
        {{ $data }}
    </pre>
</div>

</body>
<script src="../js/vue.js"></script>
<script src="../js/lodash.js"></script>
<script>
    new Vue({
        el:'.container',
        data:{
            persons:[
                {
                    name:'Subha Bera',
                    age:22
                },
                {
                    name:'Vivek Mishra',
                    age:28
                },
                {
                    name:'Neerav Pareek',
                    age:35
                },
                {
                    name:'Nisarg Bavishi',
                    age:25
                },
                {
                    name:'Alka Tank',
                    age:22
                },
                {
                    name:'Shubham Patel',
                    age:22
                }
            ],
            order:'desc'

        },
        computed:{
            old:function () {
                return this.persons.filter(function (person) {
                    return person.age>22
                })
            },
            sortedPersons:function () {
                return _.orderBy(this.persons,'age',this.order)
            }
        },
        methods:{
            changeOrder:function () {
                this.order=(this.order==='desc') ? 'asc' : 'desc'
            }
        }


    })
</script>
</html>